{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <div class="row games-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Games</h5>
          </div>
          <div class="col q-ml-lg">
            <q-btn unelevated color="primary" @click="openNewDialog()"
              >Add new game</q-btn
            >
          </div>
        </div>
        {% raw %}
        <q-table
          dense
          flat
          selection="multiple"
          :data="eightball"
          row-key="id"
          no-data-label="No games for sale yet"
          :pagination="{rowsPerPage: 0}"
          :binary-state-sort="true"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th auto-width>Name</q-th>
              <q-th auto-width>Description</q-th>
              <q-th auto-width>Wallet</q-th>
              <q-th auto-width>Price</q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="launch"
                  type="a"
                  @click="toggleGame(props.row.id)"
                  target="_blank"
                ></q-btn>
              </q-td>
              <q-td auto-width class="text-center">{{ props.row.name }}</q-td>
              <q-td auto-width> {{ props.row.description }} </q-td>
              <q-td auto-width> {{ props.row.wallet }} </q-td>
              <q-td class="text-center" auto-width>
                {{ props.row.price }}
              </q-td>
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  color="negative"
                  type="a"
                  @click="deleteGame(props.row.id)"
                  target="_blank"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
        {% endraw %}
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} eightball extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "eightball/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="gameDialog.show">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-card-section>
        <h5 class="q-ma-none q-mb-xl">Adding a new game</h5>

        <q-responsive v-if="gameDialog.data.id" :ratio="1">
          <qrcode
            :value="gameDialog.data.lnurl"
            :options="{width: 800}"
            class="rounded-borders"
          ></qrcode>
        </q-responsive>

        <div v-if="gameDialog.data.id" class="row q-gutter-sm justify-center">
          <q-btn
            outline
            color="grey"
            @click="copyText(gameDialog.data.lnurl, 'LNURL copied to clipboard!')"
            class="q-mb-lg"
            >Copy LNURL</q-btn
          >
        </div>
        <q-form @submit="sendGame" class="q-gutter-md">
          <q-input
            filled
            dense
            v-model.trim="gameDialog.data.name"
            type="text"
            label="Game name"
          ></q-input>
          <q-select
            filled
            dense
            emit-value
            v-model="gameDialog.data.wallet"
            :options="g.user.walletOptions"
            label="Wallet *"
          >
          </q-select>
          <q-input
            filled
            dense
            v-model.trim="gameDialog.data.description"
            type="text"
            label="Brief description"
          ></q-input>
          <q-input
            filled
            dense
            v-model.number="gameDialog.data.price"
            type="number"
            step="0.001"
            min="0.001"
            label="Game price (sats)"
          ></q-input>
          <p>Phrases to be returned randomly as payment receipts</p>
          <div class="col q-mx-lg">
            {% raw %}<q-input
              v-model="gameDialog.data.wordlist"
              value="gameDialog.data.wordlist"
              filled
              autogrow
            ></q-input>
          </div>
          {% endraw %}
          <div class="row q-mt-lg">
            <div class="col q-ml-lg">
              <q-btn unelevated color="primary" type="submit">
                {% raw %}{{ gameDialog.data.id ? 'Update' : 'Add' }}{% endraw %}
                Game
              </q-btn>
            </div>
            <div class="col q-ml-lg">
              <q-btn v-close-popup flat color="grey" class="q-ml-auto"
                >Cancel</q-btn
              >
            </div>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="qrCodeDialog.show" position="top">
    <q-card v-if="qrCodeDialog.data" class="q-pa-lg lnbits__dialog-card">
      {% raw %}
      <q-responsive :ratio="1" class="q-mx-xl q-mb-md">
        <qrcode
          :value="qrCodeDialog.data.lnurl"
          :options="{width: 800}"
          class="rounded-borders"
        ></qrcode>
      </q-responsive>
      <p style="word-break: break-all">
        <strong>ID:</strong> {{ qrCodeDialog.data.id }}<br />
        <strong>Amount:</strong> {{ qrCodeDialog.data.amount }}<br />
        <span v-if="qrCodeDialog.data.currency"
          ><strong>{{ qrCodeDialog.data.currency }} price:</strong> {{
          fiatRates[qrCodeDialog.data.currency] ?
          fiatRates[qrCodeDialog.data.currency] + ' sat' : 'Loading...' }}<br
        /></span>
        <strong>Accepts comments:</strong> {{ qrCodeDialog.data.comments }}<br />
        <strong>Dispatches webhook to:</strong> {{ qrCodeDialog.data.webhook
        }}<br />
        <strong>On success:</strong> {{ qrCodeDialog.data.success }}<br />
      </p>
      {% endraw %}
      <div class="row q-mt-lg q-gutter-sm">
        <q-btn
          outline
          color="grey"
          @click="copyText(qrCodeDialog.data.lnurl, 'LNURL copied to clipboard!')"
          class="q-ml-sm"
          >Copy LNURL</q-btn
        >
        <q-btn
          outline
          color="grey"
          @click="copyText(qrCodeDialog.data.pay_url, 'Link copied to clipboard!')"
          >Shareable link</q-btn
        >
        <q-btn
          outline
          color="grey"
          icon="print"
          type="a"
          :href="qrCodeDialog.data.print_url"
          target="_blank"
        ></q-btn>
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %}{{ window_vars(user) }}
<script src="https://cdn.jsdelivr.net/npm/pica@6.1.1/dist/pica.min.js"></script>
<script src="{{ url_for('eightball_static', path='js/index.js') }}"></script>
{% endblock %}
